{% extends 'base.html' %} {% block title %} Boletim {% endblock %} 
{% block content %}
<div class="container">
  {% if data['boletim'] %}
  <div>
    <div class="search">
      <form action="{{ url_for('boletim') }}" method="get" id="id_boletim_form">
        <label class="form-label fs-3 text">Ano letivo</label>
        <select class="form-select mb-2" name="ano_letivo" id="id_ano_letivo">
          <option value="">Selecione o ano letivo</option>
          {% for ano in data['anos_letivos'] %}
            <option value="{{ ano['ano_letivo'] }}.{{ ano['periodo_letivo'] }}">{{ ano['ano_letivo'] }}.{{ ano['periodo_letivo'] }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
    
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Nota 1</th>
          <th>Nota 2</th>
          <th>Nota 3</th>
          <th>Nota 4</th>
          <th>Média final</th>
          <th>Situação</th>
        </tr>
      </thead>

      <tbody>
        {% for disciplina in data['boletim'] %}
        <tr>
          <td>{{ disciplina['disciplina'] }}</td>
          <td> {% if disciplina['nota_etapa_1']['nota'] %} 
            {{ disciplina['nota_etapa_1']['nota'] }} 
            {% endif %} 
          </td>

          <td> {% if disciplina['nota_etapa_2']['nota'] %} 
            {{ disciplina['nota_etapa_2']['nota'] }} 
            {% endif %} 
          </td>

          <td> {% if disciplina['nota_etapa_3']['nota'] %} 
            {{ disciplina['nota_etapa_3']['nota'] }} 
            {% endif %} 
          </td>

          <td> {% if disciplina['nota_etapa_4']['nota'] %} 
            {{ disciplina['nota_etapa_4']['nota'] }} 
            {% endif %} 
          </td>

          <td>
            {% if disciplina['media_final_disciplina'] %}
              {{ disciplina['media_final_disciplina'] }}
            {% endif %}
          </td>

          <td>{{ disciplina['situacao'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h3>Selecione o ano letivo</h3>
  <form action="{{ url_for('boletim') }}" method="get" id="id_boletim_form">
    <label class="form-label fs-3 text">Ano letivo</label>
    <select class="form-select mb-2" name="ano_letivo" id="id_ano_letivo">
      <option value="">Selecione o ano letivo</option>
      {% for ano in data['anos_letivos'] %}
      <option value="{{ ano['ano_letivo'] }}.{{ ano['periodo_letivo'] }}">{{ ano['ano_letivo'] }}.{{ ano['periodo_letivo'] }}</option>
      {% endfor %}
    </select>
  </form>
  {% endif %}
</div>

{% endblock %}